<!-- This is the base html template used throughout the website, built on
     bootstrap. pages accessed with current user session will receive this navbar
     and page configuration -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}SDN{% endblock %}</title>
    <!-- import django static files from ../static/ -->
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/main.css' %}" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{% url 'home:index' %}">Software Developer Network</a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
                  <li>
                      <a href="{% url 'accounts:account_page' %}">My Account</a>
                  </li>
                  <li>
                      <a href="{% url 'posting:create_posting' %}">Post</a>
                  </li>
                  <li>
                      <a href="{% url 'accounts:logout_user' %}">Logout</a>
                  </li>
                {% else %}
                  <li class="{% block register_active %}{% endblock %}">
                    <a href="{% url 'accounts:register' %}">Sign Up</a>
                  </li>
                  <li class="{% block login_active %}{% endblock %}">
                    <a href="{% url 'accounts:login_user' %}">Log In</a>
                  </li>
                {% endif %}

              </ul>
              <form class="navbar-form navbar-left" role="search" method="get" action="{% url 'home:index' %}">
               <div class="form-group">
                   <input type="text" class="form-control" name="q" value="{{ request.GET.q }}">
               </div>
               <button type="submit" class="btn btn-default">Search</button>
              </form>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
  </nav>
  {% block body %}
  <!-- this is page specific html area -->
  {% endblock %}
</body>
</html>
