{% extends 'accounts/base.html' %}
{% block title %}Account Page{% endblock %}

{% block body %}

<div class="container" style="margin-top: 60px;">
    <div class="span3 well">
        <center>
        <img src="{{ profile.picture.url }}" name="aboutme" width="140" height="140" class="img-circle">
        </a>
        <h2>{{ user.username }}</h2>
        <button type="submit" class="btn btn-success">Edit Account</button>

		    </center>
    </div>
    <div class="span3 well">
      {{ profile.user }}
    </div>

{% endblock %}
