
{% extends 'posting/base.html' %}

{% block posting_active %}active{% endblock %}
{% block body %}
  <img src="#">
  <h1>{{ posting.post_title }} </h1>
  <h3>{{ posting.status }}</h3>
  <h3>{{ posting.description }}</h3>

  {% if error_message %}
    <p>{{error_message}}</p>
  {% endif%}

  <a href="{% url 'posting:application' posting.post_id %}">
      <button type="button" class="btn btn-success">
          <span class="glyphicon glyphicon-plus"></span>&nbsp; Apply
      </button>
  </a>

{% endblock %}
